body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

select {
    margin-top: 2%;
    background-color: #62d8dee8;
    border-radius: 0.3cm;
}

select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px #000 inset;
}

.container {
    text-align: center;
    margin-top: 10px;
}

.text {
    font-size: 25px;
    text-align: center;
    font-family: Play;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.car {
    margin-left: 30%;
}

.result {
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: Play;
    font-weight: 400;
}

#speech-text{
    margin-top: 2%;
}

.button-container {
    display: flex;
    padding-top: 50px;
    padding: 5px, 5px, 5px;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
}

.svg-button {
    width: 300px;
    height: 300px;
    background-image: url('logo.svg');
    /* SVG for the normal state */
    background-size: cover;
    cursor: pointer;
    transition: background-image 0.3s;
}


.svg-button:active {
    background-image: url('logo-push.svg');
    /* SVG for the pressed state */
}
